test.pegjs
test2.coffee
test.text
test.pegjs
nodeInfo.txt

/node_module/
/node_module/pegjs-coffee-plugin/
/node_module/pegjs/
/node_module/lodash/
/node_module/escodegen/

/compile/b.pegjs
/compile/c.pegjs
/compile/d.pegjs
/compile/compile.csv